.footer{
    background-color:darkslategray;
    
    color:#fff;
    padding: 3em;
    text-align: center;
}

.footer > ul{
    display: flex;
  justify-items: center;
   justify-content: center;
   align-items: center;
   gap:15px;
   margin-bottom: 0.5em;
   cursor: pointer;
   
}

.footer > ul >li:hover{
    color:#ffbb33
}


